{% extends 'base.html' %}
    
{% block contents %}
    
    {% for blog in posts %}
        <div class="container">
            <br>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{blog.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
                    <p class="card-text">{{blog.summary}}...</p>
                    <a href="{%url 'detail' blog.id %}" class="card-link">MORE</a>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
    <div class="container">
        {% if posts.has_previous %}
        <button class="btn btn-secondary"> <a href="?page=1" style="text-decoration: none; color:white"> <span> << </span></a> </button>
        <button type="button" class="btn btn-secondary" > <a href="?page={{posts.previous_page_number}}" style="text-decoration: none; color:white"> <span> < </span> </a></button>
        {% endif %}
        <span>{{posts.number}}</span>
        <span>of</span>
        <span>{{posts.paginator.num_pages}}</span>
        {% if posts.has_next %}
        <button type="button" class="btn btn-secondary"><a href="?page={{posts.next_page_number}}" style="text-decoration: none; color:white"> <span> > </span> </a></button>
        <button type="button" class="btn btn-secondary"><a href="?page={{posts.paginator.num_pages}}" style="text-decoration: none; color:white"> <span> >> </span> </a></button>
        {% endif %}
    </div>
    
{% endblock %}